{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Esewa": {
    "MerchantCode": "",
    "SecretKey": "",
    "PaymentUrl": "",
    "VerificationUrl": "",
    "SuccessUrl": "",
    "FailureUrl": ""
  }
}
